/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-Oct-2021, 12:06:33 PM
    Author     : evan7660
*/
body {
    background-image: url(example-of-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
    height: 95vh;
}

#d1 {
    text-align: center;
    border: 5px solid black;
    padding: 10px 20px 30px;
    margin: 0;
    background-color: white
}

h1 {
    font-family: 'Changa One', cursive;
    font-size: 64px;
}

a {
    font-size: 32px;
}